body {
    background-color: lightgray;
    margin: 0px;
    font-family: system-ui, sans-serif;
}


/* 
# Accessibility

Necessary For Projects

## Visual

- alt text for images
- colour contrast
- use labels / fieldsets for forms -> try to use some / little forms for practice in Project 1

## Audio

- provide some visual feedback

## Mobility

- mobile -> at least 48px by 48px
- keyboard nav -> use browser built-ins -> button should be buttons
- minimal drag / drop
- responsive design

## Cognitive

- ensure not cluttered */
